/* elements */
body {
	max-width: 100%;
	margin: 0;
}

header {
	text-align: center;
	margin: 0;
}

header h1 {
	font-family: Chihaya Jyun;
	font-size: 80px;
	margin: 0;
}

header div {
	font-family: Raleway;
	font-size: 16px;
}

/* text styles*/
.Raleway {
	font-family: Raleway;
}

.emphasize {
	color: mediumaquamarine;
}