body {
	width: 100%;
	margin: 0 auto;
}

main {
	width: 750px;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

/* Text elements */
header {
	text-align: center;
}

header img {
	width: 100%;
	margin: 0 auto;
}

header h1 {
	font-family: Chihaya Jyun;
	font-size: 80px;
	line-height: 0.5em;
}

h2 {
	font-family: HanziPen SC;
	font-size: 48px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	padding-top: 0;
	margin-top: 0;
}

h3 {
	font-family: Chihaya Jyun;
	font-size: 38px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

p {
	font-family: Caviar Dreams;
	font-size: 16px;
	line-height: 1.5em;
	padding-bottom: 25px;
	padding-top: 25px;
}

ul {
	background-color: #FAED95;
	padding: 40px;
}

li {
	font-family: Caviar Dreams;
	font-size: 18px;
	line-height: 2.5em;
	margin-left: 25px;
	margin-right: 0;
}

footer {
	font-family: Raleway;
	font-size: 10px;
	padding-bottom: 10px;
	padding-top: 70px;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-left: 10px;
	position: relative;
}

/* Visual elements */

main img {
	max-height: 200px;
	max-width: 200px;
}

a {
	text-decoration: none;
	color: #20DBBC;
}

a:hover {
	color: #BEFCEC;
	transition: 0.3s;
}

a:visited {
	text-decoration: none; 
}


hr {
	border-top: 0.1px #D6D6D6;
	margin-bottom: 70px;
	margin-top: 70px
}


/* text stylization */

.Raleway {
	font-family: Raleway;
}

.subtitle {
	font-size: 18px;
}

.emphasis {
	color: #33E19F;
}

.turq {
	color: #20DBBC;
}

.yellow {
	background-color: #FFF8CB;
	padding: 30px;
}

/* positioning */

.padcharimg {
	padding-top: 50px;
	margin-top: 20px;
}

.lesstoppad {
	padding-top: 20px;
	margin-top: 10px;
}

.centerimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.narrow {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
